
@use "sass:math";
@import 'src/styles/vars';

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: $gutter;
  background-color: #2264AB;
  color: $gray-color;
  min-height: 5rem;

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    &__link:hover{
      text-decoration: underline;
    }

    & li {
      padding: 0 $gutter * 2;
    }
  }

  @media screen and (max-width: 60rem) {
    min-height: 10rem;
    &__list {
      flex-flow: column wrap;
      align-items: center;
      & li {
        padding: math.div($gutter, 2) 0;
      }
    }
  }
}
