.header-wrapper__header {
  &__link {
    display: flex;
    align-items: center;

    &__site-logo {
      width: 50px;
      margin-right: 1rem;
    }
  
    &__site-name {
      font-size: 2rem;
    }
  }
  
}
