@import 'src/styles/vars';

.errorPage {
    box-shadow: 0px 22px 0px 0px $gray-color;
    &__picture {
        width:100%;
        background-size: cover;
        box-shadow: 0px 22px 0px 0px $gray-color;
    }
}


