@import 'src/styles/vars';

.error-page {
  min-height: calc(100vh - 12rem);
  padding: 10rem 0 0 0;

  @media screen and (max-width: 60rem) {
    padding: 4rem 0 12rem 0;
  }
}

.error-heading {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.error-text {
  font-weight: 2.5rem;
  text-align: center;
  margin-top: 4rem;
}

