@import "src/styles/vars";

.settings{
  &__form{
    margin: 2rem auto;
    width: 40%;
  }
}

.full {
  width: 100%;
}

.container-message-box {
  width:40%;
  align-self: center;
}

.flex {
  display: flex;
}

.center-margin {
  margin: auto;
}

.settings{
  margin-top: $gutter;
  display: flex;
  flex-direction: column;
  &__form__upload{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    width: 40%;

    &__label{
      display: block;
      padding: 1rem;
      border: solid 1px $dark-gray-color;
      border-radius: 5px;
      width: 60%;
      &:hover {
        border: solid 1px $dark-color;
      }
      &:focus {
        border: solid 2px $primary-color;
      }
    }

    &__input{
      opacity:0;
    }

    &__preview{
      img{
        width: 200px;
      }
    }
  }

  .to-right {
    align-self: flex-end;
    margin: 0 4rem $gutter 0;
  }
}
