@import "src/styles/vars";

.settings{
  &__form{
    margin: 2rem auto;
    width: 40%;
  }
}

.full {
  width: 100%;
}

.settings{
  margin-top: $gutter;
  display: flex;
  flex-direction: column;
  &__form__upload{
    margin: 2rem auto;
    width: 40%;

    &__label{
      display: block;
      padding: 1rem;
        // display: block;
      // margin-bottom: $gutter;
      // padding: 16px 8px;
      border: solid 1px $dark-gray-color;
      border-radius: 5px;
      &:hover {
        border: solid 1px $dark-color;
      }
      &:focus {
        border: solid 2px $primary-color;
      }
    }

    &__input{
      opacity:0;
    }

    &__preview{
      img{
        width: 200px;
      }
    }
  }

  .to-right {
    align-self: flex-end;
    margin: 0 4rem $gutter 0;
  }
}
