@import 'src/styles/vars';

.contact{
  padding: $gutter;
  margin-bottom: 2*$gutter;
  &__content{
    display: flex;
    &__illustration{
      width: 50%;
    }
    &__form{
      margin: auto;
      width: 50%;
      &__group{
        display:flex;
        flex-direction: column;
        text-align: left;
      }
    }
  }
}

.title-h1{
  text-align: center;
}

.form-input {
  box-shadow: $shadow;
}

.textarea {
  padding-bottom: 4rem;
}