@import 'src/styles/vars';

.contact{
  padding: $gutter;
  display:flex;

  &__illustration{
    width: 50%;
    margin-bottom: 5rem;
    padding: 0 $gutter 2*$gutter $gutter;
  }
  &__content{
    display: flex;
    flex-direction: column;
    width: 50%;

    &__title{
      margin-top: 1rem;
    }
    &__form{
      margin: 3rem auto;
      width: 70%;

      &__group{
        display:flex;
        flex-direction: column;
        text-align: left;

        &__submit{
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            margin-right: 0.5rem;
          }
        }

        .textarea {
          padding-bottom: 2*$gutter;
        }
      }
    }
  }
  @media screen and (max-width: 60rem) {
    &__illustration{
      display:none;
    }

    &__content{
      width: 100%;
        &__form{
        margin: auto;
        width: 100%;
        }
    }
  }
}

