@import "src/styles/vars";

.exercise-section {
  max-width: 1100px;
  margin: 0 auto;

  &__page-heading {
    font-size: $font-size-title-h1;
    margin-bottom: $gutter;
  }

  &__brief {
    background-color: $white-color;
    padding: $gutter;
    border-radius: 0.5rem;
    max-width: 80%;
    margin: 0 auto;
  }

  &__questions {
    &__question {
      margin: $gutter auto;
      max-width: 80%;

      &__img {
        max-width: 90%;
        box-shadow: $shadow;
        margin: $gutter auto;
      }

      &--hidden {
        display: none;
      }

      &__drop-area {
        display: inline-block;
        padding: 0.5rem 2rem;
        border: solid 1px #000;

        &--hovered {
          background-color: blue;
        }
      }

      &__answers {
        display: flex;
        flex-flow: row wrap;
        gap: $gutter;
        margin-top: $gutter;

        &__answer {
          flex: 1 1 40%;
          border: solid 1px #000;
          text-align: center;
          padding: 1rem;
        }
      }
    }
  }
}
