@import 'src/styles/vars';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $gutter;
  min-height: 80vh;
}

.form-forget{
  display: flex;
  flex-direction: column;
  width: 40%;
}
@media screen and (max-width: 60rem) {
  /*
  * Mobile, articles are below each other with no shift.
  * Images are displayed above each article
  */
  .form-forget{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}


.message {
  margin-bottom: $gutter;
}

.messsage-done {
  background-color: $color-valid;
  box-shadow: $shadow;
  display: block;
  margin-bottom: $gutter;
  padding: 16px 8px;
  border:solid 1px $dark-gray-color;
  border-radius: 5px;
}
