@import "src/styles/vars";

.sitemap {
  padding: 3*$gutter;
  padding-top: 3rem;
  justify-content: center;

  &__title {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: $font-size-title-h1;
    padding-bottom: 2*$gutter;
  }

  &__link:hover{
    text-decoration: underline;
  }

  li {
    list-style-type: circle;
    margin: 0.6rem;
  }

  ul{
    padding-bottom: $gutter;
  }
}

@media screen and (max-width: 60rem) {
  .sitemap{
    padding: 3rem 1.5rem ;
  }
}
