@import "src/styles/vars";

.header-wrapper__connection {
  position: relative;
  &__toggle-btn {
    &--logged {
    }

    &__icon {
      display: none;
    }

    &__profile-img {
      width: 2rem;
      height: 2rem;
    }
  }

  &__toggle-area {
    display: none;
    position: absolute;
    right: 1rem;
    background-color: $white-color;
    padding: $gutter;
    border-radius: 0.5rem;
    box-shadow: $shadow;
    margin-top: .1rem;

    &--visible {
      display: block;
    }

    &__title {
      margin-bottom: 1rem;
    }

    &__form {
      &__link {
        display: block;
        font-size: 0.7rem;
        text-decoration: underline;
      }

      &__group {
        display: flex;
        flex-direction: column;
      }

      &__submit {
        background-color: $primary-color;
        color: $white-color;
        border: none;
        padding: 0.7rem $gutter;
        border-radius: 0.5rem;
        font-weight: bold;
        display: block;
        width: max-content;
        margin: 0 auto;
      }
    }

    &__list {
      &__link {
        display: block;
        padding-bottom: 1rem;
        &--active {
          font-weight: bold;
        }
      }
    }

    &__signup {
      text-align: center;
      text-decoration: underline;

      &::before {
        content: "";
        display: block;
        width: 2rem;
        background-color: $dark-color;
        height: 1px;
        margin: $gutter auto;
      }
    }
  }

  @media screen and (max-width: 60rem) {
    position: static;
    &__toggle-btn {
      padding: 0.4rem;
      &__text {
        display: none;
      }

      &__icon {
        display: block;
      }
    }

    &__toggle-area {
      left: 50%;
      transform: translateX(-50%);
      width: 85%;
    }
  }
}
