@import 'src/styles/vars';

.nav__menu {
    margin: $gutter 1rem;
    width:15%;
    min-height: 70vh;
}

.admin__menu {
    display:flex;
    flex-direction: column;
    &__link__flex {
        display:flex;
        margin-bottom: 1rem;
    }
}

.admin__menu__link--active {
    margin: 0.2rem 0 1rem 0;
}

@media screen and (max-width: 60rem) {
    /*
    * Mobile, articles are below each other with no shift.
    * Images are displayed above each article
    */
    .hidden-mobile {
      display: none;
    }
 
}

.dashboard-text {
    margin: .5rem 0 0 .5rem;
}

