@import "src/styles/vars";

.home-wrapper {
  background-image: url("src/assets/img/wave.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
  &__article {
    &:nth-of-type(2n) {
      background-image: url("src/assets/img/waves-combined.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    /* odd articles (1, 3, 5) should be with white bg 
    * + slightly shifted to left 
    * + their img placed on the left of the text 
    */
    &:nth-of-type(2n + 1) {
      div.home-wrapper__article__wrapper {
        margin: 0 auto 0 24%;
      }

      div.home-wrapper__article__wrapper__text {
        order: -1;
      }
    }

    &__wrapper {
      display: flex;
      margin: 0 24% 0 auto;
      max-width: 800px;
      justify-content: space-between;
      align-items: center;
      padding: 8rem 1rem;
      line-height: 1.4rem;

      &__text {
        width: 55%;

        &__heading,
        &__page-heading {
          text-align: center;
          font-size: 2rem;
          font-weight: bold;
          margin-bottom: $gutter;
        }

        &__heading {
          font-size: 1.5rem;
        }

        &__link {
          padding: 1rem 2rem;
          background-color: $primary-color;
          color: $white-color;
          border-radius: 0.5rem;
          display: block;
          width: max-content;
          margin: $gutter auto 0 auto;
        }
      }

      &__img {
        max-height: 14rem;
      }
    }
    &:last-child {
      padding-bottom: 15rem;
    }
  }

  @media screen and (max-width: 60rem) {
    /*
    * Mobile, articles are below each other with no shift.
    * Images are displayed above each article
    */
    background-image: url("src/assets/img/wave.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto 5%;
    &__article {
      &:last-child {
        padding-bottom: 5rem;
      }
      &:nth-of-type(2n) {
        background-image: url("src/assets/img/waves-combined.svg");
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: cover;
      }
      &:nth-of-type(2n + 1) {
        div.home-wrapper__article__wrapper {
          margin: 0 auto;
        }

        div.home-wrapper__article__wrapper__text {
          order: 0;
        }
      }

      &__wrapper {
        margin: 0 auto;
        flex-direction: column;

        &__text {
          width: 100%;
        }

        &__img {
          margin-bottom: $gutter * 2;
        }
      }
    }
  }
}
