@import "src/styles/vars";

.loading{
  margin-top: 2*$gutter;
  text-align: center;
}

.header-wrapper {
  padding: 1rem 5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: $shadow;
  min-height: 7rem;

  @media screen and (max-width:60rem){
    padding: .7rem 1rem;
    justify-content: space-between;
    min-height: 5rem;
  }
}

a.skip-link.sr-only-focusable {
  display: block;
  margin: 1rem;
}

.no-blur {
  filter: blur(0px);
  transition: filter 0.5s ease-in-out;
}

.is-blurred {
  filter: blur(3px);
  transition: filter 0.5s ease-in-out;
}
