@import "src/styles/vars";

.header-wrapper {
  padding: 2rem 5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}

a.skip-link.sr-only-focusable {
  display: block;
  margin: 1rem;
}
