@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap');

$font-title: 'Nunito', sans-serif;
$font-text: 'Poppins', sans-serif;
$font-code: 'Source Code Pro', sans-serif;

$font-size-title-h1: 2.5rem;
$font-size-title-h2: 1.5rem;
$font-size-title-h3: 1.2rem;
$font-size-text: 1.1rem;

$gutter: 2rem;

$primary-color: #2264ab;
$secondary-color: #be1b59;
$gray-color: #E5EBED;
$dark-gray-color: #b8bcbd;
$white-color: white;
$dark-color: #566970;
$color-valid:  #05c769;
$color-error: #FF405C;
$ligth-color:  #e9eef0af;

$shadow: 2px 2px 10px 0px rgba(86, 105, 112,0.5);
$shadow-bis: 0px 2px 5px 0px rgba(86, 105, 112,0.5);
