@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap');

$font-text: 'Nunito', sans-serif;
$font-title: 'Poppins', sans-serif;

$font-size-title-h1: 1.3em;
$font-size-title-h2: 1.2em;
$font-size-text: 1.1em;

$gutter: 1.5rem;

$primary-color: #07485E;
$secondary-color: #7ED8F7;
$grey-color: #E5EBED;
$white-color: white;
$dark-color: #566970;
$color-valid: #00FF94;
$color-error: #FF405C;
