@use 'reset';
  
@import 'src/styles/vars';

body {
  font-family: $font-text;
  color: $dark-color;
}

.hidden {
  display: none;
}

#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 7rem;
}
