@use 'reset';

@import "src/styles/vars";

body {
  font-family: $font-text;
  color: $dark-color;
}

.hidden {
  display: none;
}

#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 5rem;

  @media screen and (max-width: 60rem) {
    padding-bottom: 19rem;
  }
}

.link {
  text-decoration: underline;
  color: $primary-color;
}

.title-h1 {
  font-size: $font-size-title-h1;
  font-family: $font-title;
  font-weight: bold;
  margin-bottom: $gutter;
}

.form-label {
  display: block;
  margin-bottom: 1rem;
}

.form-input {
  display: block;
  margin-bottom: $gutter;
  padding: 16px 8px;
  border: none;
  border: solid 1px $dark-gray-color;
  border-radius: 5px;
  &:hover {
    border: solid 1px $dark-color;
  }
  &:focus {
    border: solid 2px $primary-color;
  }
}

.button--primary {
  margin: 1rem;
  height: 36px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white-color;
  background-color: $primary-color;
  border: none;
  padding: 8px 8px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px 0px rgba(7, 72, 94, 0.5);
  opacity: 0.9;
  &:hover {
    opacity: 1;
    box-shadow: 0px 8px 10px 0px rgba(7, 72, 94, 0.5);
  }
  &:active {
    opacity: 0.7;
    box-shadow: 0px 10px 10px 0px rgba(7, 72, 94, 0.5);
  }
}

.button--secondary {
  margin: 1rem;
  height: 36px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $white-color;
  color: $primary-color;
  border: solid 1px $dark-gray-color;
  padding: 8px 8px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px 0px rgba(86, 105, 112, 0.5);
  opacity: 1;
  &:hover {
    border: none;
    box-shadow: 0px 6px 10px 0px rgba(86, 105, 112, 0.5);
  }
  &:active {
    opacity: 0.7;
    box-shadow: 0px 10px 10px 0px rgba(86, 105, 112, 0.5);
  }
}

/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/

.sr-only,
.sr-only-focusable {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); /* 1 */
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%); /* 2 */
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links 
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: auto;
  overflow: visible;
  width: auto;
  white-space: normal;
}
