@import 'src/styles/vars';

.progress-bar{
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: solid 1px $primary-color;

  &__filler{
    height: 100%;
    background-color: $primary-color;
    border-radius: inherit;
  }
}
