@import "src/styles/vars";

.about {
  margin-top: $gutter;
  padding: 2*$gutter;

  &__members {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    padding-bottom: 2rem;


    &__team {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 250px;
      background: #E5EBED;
      padding: 20px 10px;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: $gutter;
      font-family: $font-title;
      box-shadow: $shadow;
      text-align: center;
      min-height: 55vh;

      &__name {
        color: #566970;
        margin: 1rem;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
      }

      &__img {
        background: #fff;
        max-width: 190px;
        width: 100%;
        height: 190px;
        margin: 0 auto;
        margin-bottom: 1rem;
        border-radius: 50%;
        padding: 5px;
        box-shadow: $shadow;
        position: relative;
      }

      &__profil {
        font-family: $font-text;
        margin: 0.6rem;
        color: #566970;
        font-size: $font-size-text;
      }
    }
  }

  @media screen and (max-width: 75rem) {
    &__title-h1 {
      padding-bottom: 0 ;
    }
    &__description {
      padding: 1rem;
    }
    &__members {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      width: 100%;
      margin: 0;

      &__team {
        width: 90%;
        display: inline;
        margin: 1rem 0;
        padding-bottom: 0;
        min-height: 0;

        &__imageLeft {
          float: left;
          padding: 0;
          padding-left: 2.5rem;
        }

        &__imageRight {
          float: right;
          padding: 0;
          padding-right: 2.5rem;
        }

        &__texte {
          padding-top: 1rem;
          text-align: center;
        }

        &__name {
          font-size: 1.8em;
        }
  
        &__profil {
          font-size: 1.2em;
        }

      }
    }

  }
}

@media screen and (max-width: 45rem) {
  .about {
    padding: 0.5rem;

    &__members {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      width: 100%;
      margin: 0;
  
      &__team {
        width: 90%;
        display: block;
        margin: 1rem 0;
        padding-bottom: 2rem;
        min-height: 0;
  
        &__imageLeft {
          float: none;
          padding: 0;
        }
  
        &__imageRight {
          float: none;
          padding: 0;
        }
  
        &__texte {
          padding-top: 1rem;
          text-align: center;
        }
  
        &__name {
          font-size: 1.8em;
        }
  
        &__profil {
          font-size: 1.2em;
        }
  
      }
    }
  }

  .title-h1 {
    padding-bottom: 0 ;
  }

  .title-h3 {
    font-size: 1em
  }

 

}