@import 'src/styles/vars';

.signup{
  padding: $gutter;
  margin-bottom: 2*$gutter;
  &__content{
    display: flex;
    &__illustration{
      width: 50%;
    }
    &__form{
      margin: auto;
      width: 50%;
      &__group{
        display:flex;
        flex-direction: column;
        text-align: left;
      }
    }
    @media screen and (max-width: 60rem) {
      /*
      * Mobile, articles are below each other with no shift.
      * Images are displayed above each article
      */
      &__illustration{
        display:none;
      }
      &__form{
        margin: auto;
        width: 100%;
      }
    }
  }
}

.center{
  text-align: center;
}

