@import 'src/styles/vars';

.signup{
  padding: $gutter;

  &__title{
    font-size: $font-size-title-h1;
    font-family: $font-text;
    margin-bottom: $gutter;
    text-transform: uppercase;
  }
  &__content{
    display: flex;

    &__illustration{
      width: 50%;
      background-color: aqua;
    }
    &__form{
      margin: auto;
  
      &__group{
        display:flex;
        flex-direction: column;
        text-align: left;
  
        &__label{
          display: block;
          margin-bottom: 1rem;
        }
  
        &__input{
          display: block;
          margin-bottom: $gutter;
          padding: 8px 5px;
          border: none;
          border:solid 1px #838586;
          border-radius: 5px;
        }
      }
  
      &__submit{
        margin-top: 1rem;
          color:$white-color;
          background-color: $primary-color;
          border:none;
          padding: 1rem;
          border-radius: 5px;
      }
    }
  }
}
