@import "src/styles/vars";

.admin{
  display:flex;

  &__menu{
    width:30%;

    &__link{
      display: block;
      margin-bottom: 1rem;

      &--active{
        font-weight: bold;
      }
    }
  }
}
